#Door to run the project: number
PORT=

# Type development: string
NODE_ENV=

# Allowef url for accesing the aplication: string or *
ALLOWED_ORIGINS=

# DATABASE CONFIGURATION
DB_HOST=
# Door to run the database: number
DB_PORT=
# Database access user: string
DB_USER=
# Database access passw: stringord
DB_PASSWORD=
# Database name: string
DB_NAME=
# Database schema name: string
DB_SCHEMA=

# Password hash jumps: number
SALTS=

# Time expirtation token in seconds: strng
JWT_EXPIRES_IN=
# Token decryption key: uuid
JWT_SECRET=

# Domains for sends cookies: string
COOKIE_DOMAIN=
# Cookie travels over HTTP or HTTPS: boolean
COOKIE_SECURE=
# Controls whether the cookie is sent in cross-site requests: strict, lax or none
COOKIE_SAME_SITE=
# Cookue decryption key: uuid
COOKIE_SECRET=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=seuemail@gmail.com
MAIL_PASSWORD=sua_senha_de_app
MAIL_FROM=seuemail@gmail.com